bbv/* Custom Variables */
/* Gradients - Activities */
/* Gradients - Challenges */
/* Mixins */
.font-regular {
  font-family: FFMarkWebProRegular !important;
  font-weight: normal;
}
.font-medium {
  font-family: FFMarkWebProMedium !important;
  font-weight: normal;
}
.font-bold {
  font-family: FFMarkWebProBold !important;
  font-weight: normal;
}
.font-reg-italic {
  font-family: FFMarkWebProItalic !important;
  font-weight: normal;
}
body {
  font-family: FFMarkWebProRegular;
  height: auto;
  background-color: #ffffff;
}
body.gray {
  background-color: #F6F8F9;
}
button,
input,
optgroup,
select,
textarea {
  font-family: FFMarkWebProRegular;
}
hr {
  border-top-color: #DDDFE0;
  margin: 10px 0;
}
hr.navy {
  border-top-color: #006e60;
  margin: 10px 0;
}
.content-wrapper {
  position: fixed;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 48px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.content-wrapper.admin {
  top: 50px;
  left: 0;
  overflow-y: scroll;
  padding: 30px 0;
}
.impersonationOffset .content-wrapper {
  top: 105px;
}
.container-fluid.custom {
  max-width: 1240px;
  padding-top: 15px;
}
.pageHeaderWrapper {
  border-bottom: 1px solid #DDDFE0;
}
.whiteBG {
  background: #ffffff;
}
.hideUntilLoaded {
  display: none !important;
}
.pageContentWrapper {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/* Typography */
h1 {
  font-family: FFMarkWebProBold !important;
  font-weight: normal;
  color: #006e60;
  font-size: 36px;
  line-height: 46px;
}
h1.marginBottom {
  margin-bottom: 30px;
}
h2 {
  font-family: FFMarkWebProBold !important;
  font-weight: normal;
  color: #006e60;
  font-size: 24px;
  line-height: 30px;
  margin: 30px 0 15px;
}
h2.lessMargin {
  margin: 0 0 5px;
}
h3 {
  font-family: FFMarkWebProBold !important;
  font-weight: normal;
  color: #006e60;
  font-size: 18px;
  line-height: 28px;
}
p.gray {
  color: #858585;
}
p {
  font-size: 16px;
  color: #333333;
  letter-spacing: -0.2px;
  line-height: 24px;
  margin-bottom: 20px;
}
p.login,
p.small {
  font-size: 14px;
  line-height: 22px;
}
p.lessMargin {
  margin-bottom: 10px;
}
p.noMargin {
  margin-bottom: 0;
}
b,
strong {
  font-family: FFMarkWebProBold !important;
  font-weight: normal;
}
a {
  color: #7bc143;
}
a:hover,
a:focus {
  color: #00aa9d;
}
/* Badges */
.badge.orange {
  background: #DB6D48;
  padding: 3px 5px 5px;
  font-family: FFMarkWebProBold !important;
  font-weight: normal;
  min-width: 30px;
}
/* List Groups */
.list-group-item {
  border: 1px solid #DDDFE0;
}
/* Lists */
ul.list-unstyled li {
  font-size: 16px;
  margin-bottom: 5px;
}
/* Tabs */
.mdTabs,
.mdTabs .nav-tabs {
  border-bottom: none;
}
.mdTabs.admin .nav-tabs {
  border-bottom: 1px solid #DDDFE0;
}
.mdTabs.admin .nav-tabs a,
.mdTabs.admin .nav-tabs a:hover {
  font-size: 14px;
}
.mdTabs > li {
  margin-bottom: 0;
}
.mdTabs .uib-tab a,
.mdTabs .uib-tab a:hover {
  border: none;
  background: none;
  color: #333333;
  font-size: 16px;
}
.mdTabs .uib-tab.active a,
.mdTabs .uib-tab.active a:hover,
.mdTabs .uib-tab.active a:focus {
  border: transparent;
  border-bottom: solid 4px #7bc143;
  color: #7bc143;
}
.mdTabs.mobileStretch ul.nav-tabs {
  display: flex;
}
.mdTabs.mobileStretch .nav-tabs > li {
  float: none;
  display: inline-block;
  flex: auto;
}
.mdTabs.mobileStretch .uib-tab a,
.mdTabs.mobileStretch .uib-tab a:hover {
  margin-right: 0;
  text-align: center;
}
/* Tables */
.table {
  font-size: 16px;
  margin-bottom: 0;
}
.table.adminTable {
  table-layout: fixed;
  margin-top: 10px;
}
.table.adminTable td:nth-last-of-type(4) {
  color: #7bc143;
}
.table.adminTable td.statusCell {
  padding: 10px 8px;
}
.table-responsive {
  border: none;
}
.table > thead > tr > th {
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #858585;
  border-bottom: none;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 12px 8px;
}
/* Modals */
.modal-content {
  box-shadow: none;
  border-radius: 4px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.modal-header {
  padding: 15px 30px;
  border-bottom: 1px solid #DDDFE0;
}
.modal-title {
  line-height: 36px;
}
.modal-header .close {
  color: #006e60;
  margin-top: 8px;
  opacity: 0.8;
  outline: none;
}
.modal-header .close:hover {
  opacity: 1;
}
.modal-body {
  padding: 20px 30px;
}
.modal-footer {
  padding: 20px 30px;
  border-top: 1px solid #DDDFE0;
}
/* Participant Sidenav - Desktop */
.sidenav-participant.desktop {
  display: none;
  top: 65px;
  height: 100%;
  background-color: #006e60;
  position: fixed;
  width: 240px;
  padding-top: 15px;
  overflow-y: auto;
  white-space: nowrap;
}
.impersonationOffset .sidenav-participant.desktop {
  top: 105px;
}
.sidenav-participant ul.side-nav > li > a {
  color: #ffffff;
  padding: 10px 30px;
  position: relative;
  display: block;
  text-decoration: none;
}
.sidenav-participant ul.side-nav > li > a:hover {
  background: #7bc143;
}
.sidenav-participant ul.side-nav > li > a > i {
  position: relative;
  top: 2px;
  margin-right: 8px;
  font-size: 16px;
}
.sidenav-participant .activeAnchor {
  background: #7bc143 !important;
}
.side-nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
/* Participant Sidenav - Mobile */
md-backdrop.md-sidenav-backdrop {
  z-index: 1031;
  position: fixed;
}
.md-sidenav-left,
md-sidenav {
  z-index: 1032;
  position: fixed;
}
.impersonationOffset .md-sidenav-left,
.impersonationOffset md-sidenav {
  top: 40px;
}
.layout-padding,
.layout-padding > * {
  padding: 0;
}
md-sidenav md-content {
  background: #006e60;
  height: 100%;
}
.trayProfile {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px 30px 15px 30px;
  margin-bottom: 10px;
}
.trayProfile .avatar {
  height: 80px;
  width: 80px;
  margin-bottom: 15px;
}
.trayProfile p {
  color: #ffffff;
  margin-bottom: 2px;
}
.trayProfile p img {
  margin: -3px 5px 0 0;
  width: 16px;
}
.trayProfile span.points {
  margin-right: 20px;
}
/* Buttons */
[role="button"] {
  outline: none;
}
.btn {
  font-family: FFMarkWebProBold !important;
  font-weight: normal;
  padding: 8px 16px 12px;
  font-size: 16px;
  border-radius: 5px;
}
.btn:active {
  box-shadow: none;
}
.btn-primary {
  border-color: #7bc143;
  background-color: #7bc143;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  border-color: #00aa9d;
  background-color: #00aa9d;
  color: #ffffff;
  outline: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}
.btn-sm {
  font-size: 14px;
  padding: 2px 16px 6px;
}
.btn-lg {
  padding: 14px 16px 18px;
}
.btn-default {
  border: 1px solid #7bc143;
  color: #7bc143;
}
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  border: 1px solid #00aa9d;
  background-color: #ffffff;
  color: #00aa9d;
  box-shadow: none;
}
.btn-default:active:hover,
.btn-default:active:focus {
  border: 1px solid #00aa9d;
  background-color: #ffffff;
  color: #00aa9d;
}
.btn.cancel {
  margin-right: 12px;
}
.btn-profile,
.btn-profile:hover,
.btn-profile:focus {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-top: 22px;
}
.btn-profile:active,
.btn-profile:focus {
  opacity: 0.7;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity: 0.3;
}
.input-group-btn .btn {
  padding: 4px 16px 8px;
  font-size: 14px;
}
.btn-link {
  color: #7bc143;
  font-size: 16px;
}
.btn.welcome {
  margin: 30px 0;
}
/* Alerts */
.alert.extraMargin {
  margin-bottom: 40px;
}
.alert-danger {
  display: flex;
  align-items: flex-start;
  color: #DB6D48;
  border: none;
  background: #fefcfc;
  font-size: 16px;
  font-weight: normal;
}
.alert-danger .icon-close,
.alert-danger .icon-check,
.alert-danger div .icon-close,
.alert-danger div .icon-check {
  font-size: 20px;
  margin-right: 10px;
}
password-entry .alert-danger div:nth-child(n) {
  display: flex;
  align-items: center;
  margin: 1px 0 1px 0;
}
password-entry .alert-danger {
  display: block;
  padding: 15px;
}
.impersonation .alert-info {
  display: inherit;
  font-size: 14px;
  padding: 5px;
  height: 40px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2000;
}
#profileNutrition .alert {
  margin: 15px 0;
}
.impersonation .alert-info span {
  margin-right: 15px;
}
.alertLessPadding {
  padding: 0;
}
/* Growl Notifications */
.ui-notification.error,
.ui-notification.success {
  background: none;
  box-shadow: none;
  width: 345px;
}
.ui-notification.clickable:hover {
  opacity: 1;
}
.ui-notification > .message {
  margin: 0;
}
.growl {
  display: flex;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  padding: 15px;
  font-size: 16px;
  line-height: 20px;
}
.growl i.icon-close,
.growl i.icon-check {
  font-size: 20px;
  margin: 0 10px 0 0;
}
.growl i.material-icons {
  font-size: 16px;
  margin-left: auto;
}
.growl-error {
  background: #DB6D48;
}
.growl-success {
  background: #8bc53f;
}
.growl-neutral {
  display: block !important;
  background: #ffffff;
  color: #333333 !important;
}
.growl-neutral .message {
  display: block;
}
.growl-neutral .message-buttons {
  text-align: right;
  margin-top: 15px;
}
/* Busy Loading Spinner Styles */
http-busy {
  display: none;
}
http-busy.loading-visible {
  display: block;
}
.httpLoadingSpinnerBackground {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2000;
  opacity: 0.9;
}
.httpLoadingSpinner {
  position: fixed;
  z-index: 2001;
  top: 40%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}
.httpLoadingSpinner md-progress-circular svg path {
  stroke: #7bc143;
}
/* Forms */
.regForm {
  margin: 40px 0 20px;
}
.tandcWrapper {
  margin: 30px 0;
  border-bottom: 1px solid #DDDFE0;
  border-top: 1px solid #DDDFE0;
}
.tandcInner {
  height: 50vh;
  overflow-y: scroll;
  margin: 15px 0;
}
md-input-container.noBottomMargin {
  margin-bottom: 0;
}
md-input-container .md-input,
md-input-container.md-input-focused .md-input,
md-input-container .md-input.ng-invalid.ng-dirty {
  font-size: 16px;
  padding-bottom: 4px;
}
md-input-container:not(.md-input-invalid) .md-input {
  border-width: 0 0 2px;
}
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #7bc143;
}
md-input-container:not(.md-input-invalid).md-input-focused label {
  color: #7bc143;
}
md-input-container > md-icon {
  color: #7bc143;
}
md-input-container label {
  font-family: FFMarkWebProRegular !important;
  font-weight: normal;
  opacity: 1;
  color: #858585;
  font-size: 16px;
}
md-input-container label.md-required::after {
  content: "  " !important;
}
md-input-container:not(.md-input-invalid).md-input-has-value label {
  color: #858585;
  font-family: FFMarkWebProMedium !important;
  font-weight: normal;
  opacity: 1;
}
md-input-container:not(.md-input-invalid).md-input-has-value.md-input-focused label {
  color: #7bc143;
  font-family: FFMarkWebProMedium !important;
  font-weight: normal;
  opacity: 1;
}
md-input-container:not(.md-input-invalid).md-input-focused label {
  color: #7bc143;
  font-family: FFMarkWebProMedium !important;
  font-weight: normal;
  opacity: 1;
}
md-input-container.md-default-theme.md-input-invalid .md-input,
md-input-container.md-input-invalid .md-input {
  border-bottom: 2px solid #DB6D48;
}
md-input-container.md-input-invalid.md-input-focused label,
md-input-container.md-input-invalid.md-input-has-value label {
  color: #DB6D48;
  font-family: FFMarkWebProMedium !important;
  font-weight: normal;
  opacity: 1;
}
md-input-container.md-input-invalid label {
  color: #DB6D48;
}
md-input-container.md-input-focused label:not(.md-no-float),
md-input-container.md-input-has-placeholder label:not(.md-no-float),
md-input-container.md-input-has-value label:not(.md-no-float) {
  font-family: FFMarkWebProMedium !important;
  font-weight: normal;
}
md-input-container.md-input-invalid .md-input-message-animation {
  color: #DB6D48;
  font-family: FFMarkWebProMedium !important;
  font-weight: normal;
}
md-input-container.short {
  width: 100px;
}
md-input-container .input-group input {
  padding-right: 30px;
}
md-input-container .input-group-addon {
  position: absolute;
  color: #7bc143;
  right: 0px;
  top: 3px;
  outline: none;
  width: auto;
  padding: 0;
  background: none;
  border: none;
}
md-input-container .input-group-addon i {
  font-size: 20px;
}
md-input-container .input-group-addon i.gray {
  color: #C1C1C1;
}
md-input-container .input-group-addon i.success {
  color: #8bc53f;
}
md-input-container .input-group {
  width: 100%;
}
md-input-container > md-select {
  color: #333333;
  font-size: 16px;
}
.md-select-menu-container {
  -webkit-transform: translate3d(-2px, -2px, 0);
  transform: translate3d(-2px, -2px, 0);
}
md-input-container label.select {
  margin: 0 0 2px 0;
}
.md-select-value,
.md-select-value.md-select-placeholder,
md-select:not([disabled]).ng-invalid.ng-touched .md-select-value,
md-select:not([disabled]):focus .md-select-value,
md-select:not([disabled]):focus.ng-invalid.ng-touched .md-select-value {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 4px;
}
md-select.md-default-theme.ng-invalid.ng-touched .md-select-value,
md-select.ng-invalid.ng-touched .md-select-value {
  color: #DB6D48 !important;
  border-bottom-color: #DB6D48 !important;
}
md-select:not([disabled]):focus .md-select-value {
  border-bottom-color: #7bc143;
  color: #333333;
}
md-select-menu md-content md-option[selected] {
  color: #7bc143;
}
md-select-menu md-content md-option[selected]:focus {
  color: #7bc143;
  background-color: #EEEEEE;
}
md-select.md-default-theme .md-select-value,
md-select .md-select-value {
  border-bottom-color: #DDDFE0;
}
md-input-container.md-input-has-value .md-select-value > span:not(.md-select-icon),
md-input-container.md-input-has-value .md-select-value > span:not(.md-select-icon) {
  -webkit-transform: translate3d(0, 2px, 0);
  transform: translate3d(0, 2px, 0);
}
md-input-container.md-input-focused:not(.md-input-has-value) md-select .md-select-value,
md-input-container.md-input-focused:not(.md-input-has-value) md-select .md-select-value.md-select-placeholder {
  color: #7bc143;
  font-family: FFMarkWebProMedium !important;
  font-weight: normal;
  opacity: 1;
}
md-select .md-select-value.md-select-placeholder {
  color: #858585;
  border-width: 0 0 2px;
}
.md-select-value {
  border-bottom-width: 2px;
}
md-input-container.textUnit md-icon {
  font-family: ffmarkwebproregular;
  font-size: 16px;
  color: #333333;
}
md-input-container:not(.md-input-invalid).md-input-focused.textUnit md-icon {
  color: #333333;
}
md-input-container.textUnit.blueFocus md-icon {
  color: #858585;
}
md-input-container:not(.md-input-invalid).md-input-focused.textUnit.blueFocus md-icon {
  color: #7bc143;
}
._md-datepicker-floating-label > md-datepicker .md-datepicker-button {
  margin-left: 0;
  margin-right: 0;
}
.md-datepicker-triangle-button.md-button.md-icon-button {
  top: -4px;
}
.div-spacer {
  margin-top: -18px;
}
md-input-container:not(.md-input-has-value) md-select.ng-required:not(.md-no-asterisk) .md-select-value span:first-child:after,
md-input-container:not(.md-input-has-value) md-select[required]:not(.md-no-asterisk) .md-select-value span:first-child:after {
  content: "  ";
}
.btn-container-margin {
  margin: 18px 0 18px;
}
md-input-container .input-group {
  width: 100%;
}
md-checkbox.md-default-theme.md-checked .md-ink-ripple,
md-checkbox.md-checked .md-ink-ripple {
  color: #7bc143;
}
md-checkbox.md-default-theme.md-checked .md-icon,
md-checkbox.md-checked .md-icon {
  background-color: #7bc143;
}
md-input-container:not(.md-input-invalid).md-input-focused md-icon,
.md-datepicker-open .md-datepicker-calendar-icon {
  color: #7bc143;
}
.md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator,
.md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator,
.md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator,
.md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
  background: #7bc143;
}
.md-default-theme .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator,
.md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator {
  border: 1px solid #7bc143;
}
.input-margin {
  margin-top: 36px;
}
.input-margin-buttom {
  margin-bottom: 15px;
}
.form-control.mdInputBox {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 0px;
  border: none;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  height: 40px;
}
.mdInputBox:hover,
.mdInputBox:focus {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
.mdInputGroup.input-group .input-group-addon {
  background: none;
  border: none;
  font-size: 16px;
}
.passwordValidation {
  margin: -10px 0 20px 0;
}
.validPoint {
  margin-bottom: 5px;
}
.validPoint .fa-circle {
  color: #DDDFE0;
  margin: 5px 10px 0 0;
  font-size: 10px;
  float: left;
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}
.validPoint span {
  color: #858585;
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}
.validPoint.confirm .fa-circle {
  color: #8bc53f;
}
.validPoint.confirm span {
  color: #333333;
}
.regSelect {
  margin-bottom: 42px;
}
/* Panels */
.panel.panel-default {
  border-radius: 0;
}
.selectedIcon {
  border-radius: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  width: 23px;
  height: 23px;
  background: #8bc53f;
}
.selectedIcon.allergy {
  background: #DB6D48;
}
.image-card {
  display: flex;
  align-items: center;
  margin: 0 0 -1px 0;
  border: 1px solid #DDDFE0;
  border-radius: 0;
  padding: 10px 15px;
}
.image-card-label {
  line-height: 20px;
  font-size: 16px;
  letter-spacing: -0.2px;
  margin-left: 10px;
}
.selectedIcon i {
  font-size: 24px;
  color: #ffffff;
}
.unselectedIcon {
  height: 23px;
  width: 23px;
  border: 1px solid #C1C1C1;
  border-radius: 100%;
}
/* Switches */
md-switch.md-default-theme.md-checked.md-primary .md-bar,
md-switch.md-checked.md-primary .md-bar {
  background-color: rgba(0, 165, 182, 0.6);
}
md-switch.md-default-theme.md-checked.md-primary .md-ink-ripple,
md-switch.md-checked.md-primary .md-ink-ripple {
  background-color: #7bc143;
}
md-switch .md-container {
  margin-right: 0;
}
/* Participant TopNav - Desktop */
.topnav-participant.navbar {
  height: 65px;
  margin-bottom: 0;
  font-size: 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.impersonationOffset .topnav-participant.navbar {
  top: 40px;
}
.topnav-participant.navbar .container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}
.topnav-participant .navbar-brand {
  height: auto;
  padding: 13px 0 12px 0;
  width: 240px;
  text-align: center;
  margin-left: 0;
}
.topnav-participant .navbar-brand > img {
  height: 40px;
  display: inline;
}
.topnav-participant {
  background-color: #ffffff;
  border-color: #DDDFE0;
}
.topnav-participant .navbar-nav > li > a,
.topnav-participant.navbar-default .navbar-nav > li > a:focus {
  padding: 22px 16px;
  border-right: 1px solid #DDDFE0;
  color: #7bc143;
}
.topnav-participant .navbar-nav > li > a:hover {
  color: #00aa9d;
}
.topnav-participant .navbar-nav li.points {
  border-left: 1px solid #DDDFE0;
  font-family: FFMarkWebProBold !important;
  font-weight: normal;
}
.topnav-participant .navbar-nav li.points img {
  width: 16px;
  margin: -2px 5px 0 0;
}
.profileMenu {
  display: flex;
  align-items: center;
  margin: 8px 0 0 16px;
  cursor: pointer;
}
.avatar {
  background-position: center top;
  background-size: cover;
  height: 48px;
  width: 48px;
  border-radius: 100%;
  margin-right: 12px;
}
.profileMenu i {
  color: #C1C1C1;
}
/* Participant TopNav - Mobile */
.topbar-mobile > div {
  display: flex;
  justify-content: space-between;
}
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  float: left;
  margin: 0;
  padding: 21px 15px 19px 0;
  border: none;
  background: none;
}
.topbar-mobile .points {
  float: right;
  margin: 21px 0;
  letter-spacing: -0.6px;
}
.topbar-mobile .points img {
  margin: -3px 5px 0 0;
  width: 16px;
}
.topbar-mobile .mobileTitle {
  text-align: center;
  margin: 0 auto;
}
.topbar-mobile .mobileTitle h1 {
  font-size: 16px;
  margin: 20px 0 24px;
  line-height: initial;
}
.topbar-mobile .mobileTitle img {
  height: 24px;
  margin: 20px 0;
}
.topbar-mobile .topLink div {
  float: left;
  outline: none;
  color: #7bc143;
  padding: 23px 0 21px 0;
}
.topbar-mobile .topLink .topLinkLabel {
  padding: 21px 0 23px 3px;
}
.navOnLeft {
  top: 65px;
}
/* Participant - Tab Bar */
.tabbar {
  min-height: 48px;
  border-top: 1px solid #DDDFE0;
  background: #ffffff;
}
.tabbar .navbar-nav {
  margin: 0;
  min-height: 48px;
}
.tabbar .nav > li {
  width: 25%;
  text-align: center;
  float: left;
  min-height: 48px;
}
.tabbar .navbar-nav > li > a {
  padding: 6px 0 2px 0;
  color: #858585;
}
.tabbar .anchorActive {
  background-color: #eeeeee !important;
  color: #ffffff;
}
.tabbar .tabName {
  font-size: 10px;
  font-family: FFMarkWebProBold !important;
  font-weight: normal;
  margin-top: -4px;
}
.tabbar i.icons {
  font-size: 20px;
}
.tabbar .badge {
  position: absolute;
  margin-top: -44px;
  margin-left: 6px;
  background-color: #DB6D48;
  font-size: 14px;
}
/* Paragraph */
p.margin {
  margin: 10px 0 10px;
}
.panel-default {
  border-color: #DDDFE0;
}
/* Anon Specific */
.loginHeader {
  margin-bottom: 40px;
}
md-input-container.password.md-icon-right {
  padding-right: 36px;
}
.loginLogo {
  margin: 56px 0 40px;
}
.loginLogo img {
  width: 160px;
}
.promo {
  padding: 0;
}
.promo img {
  object-fit: cover;
  height: 100vh;
  width: inherit;
  position: fixed;
}
.register {
  margin: 50px 0 30px;
  font-size: 14px;
  line-height: 22px;
}
.register span {
  margin-right: 15px;
}
.registerBtnMargin {
  margin-bottom: 20px;
}
.captchaWrapper {
  display: flex;
  margin-bottom: 25px;
  border: 1px solid #DDDFE0;
}
.captchaWrapper img {
  border-radius: 4px 0 0 4px;
}
.refreshCaptcha {
  display: flex;
  align-items: center;
  color: #7bc143;
  font-size: 20px;
  padding: 0 15px;
}
.refreshCaptcha:hover {
  color: #00aa9d;
  background: #F7F7F7;
}
/* General */
.backDesktop div,
.backMobile div {
  float: left;
  font-size: 16px;
}
.backDesktop .backArrow,
.backMobile .backArrow {
  padding: 2px 3px 0 0;
}
.backMobile {
  float: left;
}
.bottom-spacer {
  margin-bottom: 20px;
}
/* Activities */
.activity-group {
  margin-bottom: 40px;
}
.panel.activity {
  color: #ffffff;
  border-radius: 4px;
  margin: 10px 20px 10px 0;
  cursor: pointer;
  display: inline-block;
  width: 200px;
  height: 220px;
  float: left;
  padding: 15px;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.panel.activity:hover {
  opacity: 1;
}
.panel.activity .eyebrow {
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.panel.activity .name {
  font-size: 18px;
  font-family: FFMarkWebProBold;
}
.panel.activity .points {
  font-size: 16px;
  font-family: FFMarkWebProBold;
}
.panel.activity .points img {
  width: 16px;
  margin: -3px 8px 0 0;
}
.cardWrapper {
  vertical-align: top;
  overflow-x: auto;
}
.cardWrapperInner {
  width: max-content;
}
.type-bonus {
  background: url('/img/activity-overlay.png'), linear-gradient(226deg, #2BEFFD 0%, #00788C 100%);
}
.type-caremanagement {
  background: url('/img/activity-overlay.png'), linear-gradient(225deg, #ffeb00 0%, #926d00 100%);
}
.type-community {
  background: url('/img/activity-overlay.png'), linear-gradient(225deg, #00ffdc 0%, #007b70 100%);
}
.type-financial {
  background: url('/img/activity-overlay.png'), linear-gradient(45deg, #3E32AD 0%, #CA8FE0 100%);
}
.type-exercise {
  background: url('/img/activity-overlay.png'), linear-gradient(225deg, #5847CF 0%, #640A6F 100%);
}
.type-learning {
  background: url('/img/activity-overlay.png'), linear-gradient(225deg, #78da60 0%, #004602 100%);
}
.type-nutrition {
  background: url('/img/activity-overlay.png'), linear-gradient(225deg, #009fea 0%, #010748 100%);
}
.type-prevention {
  background: url('/img/activity-overlay.png'), linear-gradient(225deg, #FFCC0D 0%, #BB6903 100%);
}
.type-rxcompliance {
  background: url('/img/activity-overlay.png'), linear-gradient(225deg, #B996C5 0%, #45244D 100%);
}
.type-safety {
  background: url('/img/activity-overlay.png'), linear-gradient(225deg, #efff00 0%, #066100 100%);
}
.type-exams {
  background: url('/img/activity-overlay.png'), linear-gradient(225deg, #EAB5CC 0%, #8015A8 100%);
}
.type-lifestyle {
  background: url('/img/activity-overlay.png'), linear-gradient(225deg, #a3ff12 0%, #026900 100%);
}
.type-wellness {
  background: url('/img/activity-overlay.png'), linear-gradient(225deg, #009cb5 0%, #00053c 100%);
}
.type-done {
  background: url('/img/activity-overlay.png'), linear-gradient(225deg, #fbfbfc 0%, #dedfe1 100%);
}
.panel.activity.type-done {
  color: #a9aaac;
}
.panel.activity.type-done .icons,
.panel.activity.type-done .isDone {
  font-weight: bold;
}
/* Activity Details */
.pageHeaderWrapper.activity {
  background: #ffffff;
}
.pageHeaderContent.activity {
  padding: 15px 15px 20px 15px;
}
.activityInfoWrapper {
  display: flex;
}
.activityInfoWrapper .typeColor {
  display: none;
}
.activityInfo .eyebrow {
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 12px;
  margin: 5px 0;
}
.activityInfo h1 {
  margin: 0;
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
}
.activityInfo .points {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  display: table-cell;
  vertical-align: bottom;
  height: 30px;
  padding: 0 20px 0 0;
}
.activityInfo .points img.white {
  width: 16px;
  margin-top: -4px;
}
.activityInfo .points img.navy {
  display: none;
}
h2.activitySuccess {
  margin-top: 15px;
}
input.percentage {
  width: 60px;
}
.bigCheck {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #7bc143;
  margin: 0 auto;
}
.bigCheck i {
  font-size: 61px;
  color: #ffffff;
}
@media (max-width: 768px) {
  .activityInfo .pointsDateWrapper {
    display: inline-block;
  }
  .activityInfo .endDate {
    font-style: italic;
    display: table-cell;
    height: 30px;
    color: #ffffff;
    vertical-align: bottom;
  }
}
/* Challenges */
.panel.challenge {
  border-radius: 4px;
  margin: 10px 20px 10px 0;
  cursor: pointer;
  width: 200px;
  height: 220px;
  float: left;
  padding: 15px;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}
.challenge .challengeIcon {
  border-radius: 100%;
  height: 60px;
  width: 60px;
  padding: 15px;
  float: left;
}
.challenge .label.inProgress {
  background: #8bc53f;
  text-transform: uppercase;
  font-family: FFMarkWebProBold !important;
  font-weight: normal;
  float: right;
  padding: 5px 10px 6px;
  font-size: 10px;
}
.challenge .title {
  font-family: FFMarkWebProBold !important;
  font-weight: normal;
  line-height: 20px;
  margin: 15px  0 10px 0;
  height: 60px;
}
.challenge .date {
  text-transform: uppercase;
  font-size: 12px;
  color: #858585;
  line-height: initial;
  margin-bottom: 10px;
  margin-top: auto;
}
.challenge .teamPoints div {
  float: left;
  display: flex;
  align-items: center;
  margin-right: 12px;
}
.challenge .teamPoints i {
  color: #7bc143;
  font-size: 16px;
  float: left;
}
.challenge .teamPoints img {
  width: 16px;
  float: left;
}
.challenge .teamPoints span {
  color: #7bc143;
  font-size: 14px;
  line-height: 16px;
  margin-left: 6px;
  float: left;
}
.challenge md-tabs {
  background-color: #ffffff;
}
.challenge md-ink-bar,
md-tabs md-ink-bar {
  color: #239ca7 !important;
  background-color: #239ca7 !important;
}
.challenge md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  text-transform: capitalize !important;
  font-size: 16px;
}
.challenge md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active,
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon,
md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon,
md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused,
md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused md-icon {
  color: #239ca7 !important;
  font-size: 16px;
  font-weight: bold;
}
.challengeDetailsContainer {
  display: flex;
  flex-direction: column;
}
.challenge .challengeDetailHeader {
  margin: 20px 0 0;
}
.challengeDetailContentHeader {
  margin-top: 0px;
}
.challenge .challengeDetails {
  float: left;
  margin-right: 15px;
}
.challenge .challengeDetailName {
  font-family: FFMarkWebProBold !important;
  font-weight: normal;
  color: #006e60;
  font-size: 36px;
  line-height: 60px;
  margin-left: 20px;
  display: inline-block;
}
.challenge .mdTabs > li {
  padding-right: 40px;
}
.challenge .challengeStats {
  line-height: 60px;
  color: #006e60;
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
}
.challenge .challengeUsers,
.challengePoints,
.challengeDates {
  display: inline-block;
  margin-left: 15px;
}
.challenge .challengeDates {
  color: #858585;
}
.challenge .pointsImage {
  height: 18px;
  margin-bottom: 5px;
}
.challenge a.joinBtn {
  padding: 8px 47px 12px;
  line-height: 100%;
  background-color: #7bc143;
  border: 0;
}
.challenge md-content._md {
  clear: both;
}
.challenge .pageHeaderWrapper {
  background: #ffffff;
}
.goalMetContainer {
  margin: 20px 0 0 0;
  padding: 0;
}
.goalMetHeader {
  color: #ffffff;
  text-align: center;
  height: 48px;
  line-height: 48px;
  background: #006e60;
}
.goalMetHeader div {
  vertical-align: middle;
  display: inline;
}
.goalMetTitle {
  font-size: 20px;
  font-weight: bold;
}
.goalMetNumber {
  font-size: 24px;
  font-weight: bold;
  margin: 0 5px 0 10px;
}
.dailyCompletionCalendarContainer {
  padding: 20px;
  background: #ffffff;
}
.calendarContainer {
  text-align: center;
  padding: 10px 0;
  float: left;
  height: 310px;
}
.calendarMonth {
  width: 100%;
  text-transform: uppercase;
  color: #006e60;
  font-weight: bold;
}
.calendarDayOfWeek {
  font-size: 12px;
}
.calendarDays {
  width: 14%;
  display: inline-block;
  float: left;
}
.calendarDate {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  border: solid 1px #DDDFE0;
  margin: 5px auto;
  font-size: 14px;
  font-weight: bold;
  line-height: 28px;
  color: #7bc143;
  cursor: pointer;
}
.calendarToday {
  background: #7bc143;
  color: #ffffff;
  font-size: 32px;
  border: none;
}
.dayComplete,
.removeComplete {
  color: #ffffff;
  font-size: 32px;
  border: none;
}
.dayComplete {
  background: #8bc53f;
}
.removeComplete {
  background: #DB6D48;
}
.calendarNoDay {
  width: 34px;
  height: 32px;
  margin: 5px auto;
}
.dayIsInactive {
  background: #DDDFE0;
  color: #fff;
  cursor: default;
}
.noCursor {
  cursor: default;
}
.submitCompletionBtn {
  width: 80%;
  margin: 0 auto;
  border: solid 1px #DDDFE0;
  font-family: FFMarkWebProBold !important;
  font-weight: normal;
  padding: 8px 16px 12px;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 10% 20px;
  text-align: center;
  color: #006e60;
}
.buttonCompleteIcon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  float: left;
  display: inline-block;
  padding: 1px 0 0 0;
}
.buttonComplete {
  color: #fff;
  background: #8bc53f;
}
.buttonInactive {
  color: #fff;
  background: #DDDFE0;
}
.todayNotComplete {
  font-size: 14px;
}
@media (max-width: 768px) {
  .submitCompletionBtn {
    width: 90%;
    margin: 0 5% 20px;
  }
}
.wellness-challenge {
  background: url('/img/activity-overlay.png'), linear-gradient(226deg, #2BEFFD 0%, #00788C 100%);
}
.tracking-challenge {
  background: url('/img/activity-overlay.png'), linear-gradient(45deg, #3E32AD 0%, #CA8FE0 100%);
}
.fitscore-challenge {
  background: url('/img/activity-overlay.png'), linear-gradient(225deg, #a3ff12 0%, #026900 100%);
}
.custom-challenge {
  background: url('/img/activity-overlay.png'), linear-gradient(225deg, #009fea 0%, #010748 100%);
}
.challengeJoined {
  height: 60px;
  width: 100%;
  margin: 10px 0 20px 0;
}
.challengeJoined .bigCheck {
  display: inline-block;
  float: left;
}
.challengeJoinedText {
  display: inline-block;
  float: left;
  line-height: 60px;
  font-family: FFMarkWebProBold !important;
  font-weight: normal;
  color: #006e60;
  font-size: 24px;
  margin: 0 0 0 20px;
}
@media (max-width: 768px) {
  .challenge .challengeStats {
    display: block;
    margin-left: 10px;
    float: left;
    color: #fff;
  }
  .challenge .date {
    color: #fff;
  }
  .challenge .mdTabs > li {
    width: 33%;
    text-align: center;
    padding-right: 0;
  }
  .challenge .challengeDetails .challengeIcon {
    display: none;
  }
  .challenge .challengeStats {
    line-height: 30px;
  }
  .challenge .challengeDetailName {
    font-size: 24px;
    line-height: normal;
    margin-bottom: 5px;
    display: block;
    color: #fff;
  }
  .challenge .challengeDetailHeader {
    margin: 0;
    background: url(/img/activity-overlay.png), linear-gradient(226deg, #2BEFFD 0%, #00788C 100%);
    padding: 5px 0 10px;
  }
  .challenge .backDesktopChallenge {
    margin: 20px 0 60px 35px;
  }
  .challenge .challengeDetails {
    display: block;
    float: none;
  }
  .challenge .challengeStats {
    display: block;
    float: none;
  }
  .challenge a.joinBtn {
    display: block;
    margin: 0 auto;
    width: 136px;
  }
}
/* Fitness */
.fitnessProgram {
  background-size: cover;
  background-position: center;
  padding: 30px 0;
  cursor: pointer;
}
.fitnessProgram h2,
.fitnessProgram p {
  color: #ffffff;
}
.fitnessProgram h2 {
  line-height: auto;
  margin: 0;
}
.fitnessProgram p.desc {
  margin: 3px 0;
}
.fitnessProgram p.videoNum {
  text-transform: uppercase;
  font-size: 12px;
  font-family: FFMarkWebProMedium !important;
  font-weight: normal;
  line-height: 18px;
}
.panel.understandFitness p {
  margin-bottom: 15px;
}
.jumbotron.noFitnessPlan,
.jumbotron.noNutritionPreferences {
  margin: 0;
  padding: 50px;
  border-radius: 0;
  min-height: 400px;
}
.jumbotron.noFitnessPlan {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('img/fitness/no-plan-hero.jpg');
  background-size: cover;
  background-position: bottom;
}
.jumbotron.noNutritionPreferences {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('img/nutrition-pref/nutritionNoPreferences.jpg');
  background-size: cover;
  background-position: center;
}
.noFitnessPlan h2,
.noNutritionPreferences h2 {
  color: #ffffff;
  margin: 0;
}
.noFitnessPlan p,
.noNutritionPreferences p {
  font-size: 16px;
  color: #ffffff;
  margin: 20px 0 40px 0;
}
.bold {
  font-weight: bold;
}
.gaugeContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 250px;
  position: relative;
}
.fitnessPlanTile {
  display: inline-block;
  margin: 0 15px 12px 0;
  width: 150px;
  height: 195px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #DDDFE0;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
}
.fitnessPlanTile:last-child {
  margin: 0 0 12px 0;
}
.fitnessPlanBackground {
  width: 100%;
  height: 90px;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 4px 4px 0 0;
}
.fitnessPlanCheck {
  position: absolute;
  top: 5px;
  left: 5px;
  background: #C1C1C1;
  opacity: 0.7;
  width: 23px;
  height: 23px;
  border-radius: 100%;
}
.fitnessPlanCheckWorkout {
  position: relative;
  display: inline-block;
}
.workoutCompleted,
.fitnessPlanCheck:hover {
  background: #8bc53f;
  cursor: pointer;
  opacity: 1;
}
.workoutCompleted:hover {
  background: #C1C1C1;
}
.historyWorkoutComplete {
  position: relative;
}
.historyWorkoutCheck {
  display: inline-block;
  position: relative;
  float: left;
  left: 30px;
}
.historyWorkoutCheck .fitnessPlanCheck {
  top: 0;
  left: 0;
}
.historyDateCompleted {
  display: inline-block;
  margin-left: 40px;
}
.historyDate {
  width: 20%;
}
.historyTitle {
  width: 45%;
}
.historyType {
  width: 20%;
}
.historyCompleted {
  width: 15%;
}
.fitnessPlanCheck i {
  color: #fff;
  font-size: 24px;
}
.fitnessPlanWorkout {
  padding: 10px;
}
.fitnessPlanDay {
  text-transform: uppercase;
  margin: 0 0 10px;
}
.fitnessPlanTitleContainer {
  width: 100%;
  border: 1px solid;
  border-radius: 4px;
  height: 50px;
}
.fitnessPlanTitleTab {
  width: 15px;
  height: 49px;
  line-height: 50px;
  border-radius: 4px 0 0 4px;
  color: #fff;
  display: inline-block;
  float: left;
  cursor: move;
}
.fitnessPlanTitle {
  width: calc(100% - 15px);
  height: 50px;
  padding: 5px;
  display: inline-block;
  float: left;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}
.fitnessPlanWorkoutButtons {
  margin: 10px 0;
  width: 100%;
  text-align: right;
}
.fitnessLegendContainer {
  margin: 0 0 15px 0;
  display: block;
  width: 100%;
  padding: 0;
  text-align: center;
  font-size: 13px;
}
.fitnessLegend .borderResistance,
.fitnessLegend .borderCardio,
.fitnessLegend .borderRecovery,
.fitnessLegend .borderRest {
  border-bottom: 4px solid;
  padding-bottom: 5px;
}
.fitnessLegend .col-xs-2,
.fitnessLegendContainer .col-md-6,
.fitnessLegendContainer .col-md-offset-6,
.fitnessLegendContainer .col-sm-12 {
  padding: 0;
  width: 60%;
  margin: 15px 20% 25px;
}
.linkWeekFitness,
.linkWeekFitness:visited,
.linkWeekFitness:hover {
  color: #7bc143 !important;
  text-decoration: none !important;
}
.unlinkWeekFitness,
.unlinkWeekFitness:visited,
.unlinkWeekFitness:visited {
  color: #333333 !important;
  text-decoration: none !important;
}
.restDayBG {
  background: url('/img/fitness/yoga-posture.png') no-repeat;
  background-size: 30%;
  background-position: center;
}
.borderResistance {
  border-color: #006e60 !important;
}
.borderCardio {
  border-color: #cadd09 !important;
}
.borderRecovery {
  border-color: #DD6D42 !important;
}
.borderRest {
  border-color: #7bc143 !important;
}
.backgroundResistance {
  background: #006e60;
}
.backgroundCardio {
  background: #cadd09;
}
.backgroundRecovery {
  background: #DD6D42;
}
.backgroundRest {
  background: #7bc143;
}
.fitnessThisWeek,
.fitnessNextWeek {
  width: 100%;
  margin-bottom: 15px;
}
.fitnessNextWeek {
  margin-top: 10px;
}
.fitnessHistory {
  margin: 15px 0 15px 15px;
  width: 100%;
}
.fitnessLegend {
  margin-top: 15px;
}
.fitnessPlanHeader {
  display: inline-block;
}
.fitnessCalendar {
  float: right;
  display: inline-block;
  display: none;
}
#fitScoreGauge span {
  line-height: 70px !important;
}
#fitScoreGauge u:nth-child(1) {
  font-size: 16px !important;
  line-height: 24px !important;
  color: #333333 !important;
  letter-spacing: -0.2px !important;
  width: 150px !important;
  margin: 80px auto 0;
  font-weight: bold !important;
  display: block ;
}
.fitScoreBoxContainer {
  text-align: center;
  margin-top: 45px;
}
.fitScoreBox {
  border: #DDDFE0 1px solid;
  padding: 20px;
  margin: 0 40px;
  display: inline-block;
}
.fitScoreBoxFirst {
  float: right;
}
.fitScoreBoxPrevious {
  float: left;
}
.fitScoreBoxScore {
  font-size: 28px;
}
.fitScoreCurrentDate {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: center;
}
.chartTooltip {
  z-index: 9999999999;
}
.fitScoreUpdate {
  margin: 0 auto;
  display: block;
  width: 165px;
}
.fitScoreChartContainer {
  margin: 40px 0 20px 0;
}
.fitScoreChartLegend {
  width: 66%;
  text-align: center;
  font-size: 13px;
  margin: 0 auto;
}
.fitScoreUnfit,
.fitScoreBelow,
.fitScoreAbove {
  border-bottom: 4px solid;
  padding: 0 0 5px 0;
  margin: 0;
}
.fitScoreUnfit {
  border-color: #DB6D48;
}
.fitScoreBelow {
  border-color: #cadd09;
}
.fitScoreAbove {
  border-color: #8bc53f;
}
.fitScoreExerciseCharts {
  max-height: 250px;
  margin-top: 15px;
}
.playlistVideoContainer {
  padding: 10px;
}
.playlistVideo {
  height: 150px;
}
.playlistVideoPlay {
  height: 150px;
  width: 100%;
  position: relative;
  background: url('../img/play.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.playlistVideoTitle {
  padding: 5px;
  color: #fff;
}
@media (max-width: 768px) {
  .fitScoreBox {
    float: none;
    margin: 0 auto;
  }
  .fitScoreBoxContainer:first-child {
    margin: 0 0 45px;
  }
  .fitScoreChartLegend {
    width: 90%;
  }
  .watchVideo {
    margin-top: 30px;
  }
}
[draggable] {
  user-select: none;
}
.over {
  opacity: 0.9;
  border: 1px dashed #000;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 99;
}
.draggedTile {
  opacity: 0.3;
  border: 1px solid #DDDFE0 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.mobileDragDropOff {
  pointer-events: none;
}
.mobileDragDropOn {
  pointer-events: all;
}
.disableTiles {
  pointer-events: none;
}
@media (max-width: 768px) {
  .fitnessThisWeek,
  .fitnessNextWeek {
    width: 50%;
    display: inline-block;
    margin: 0;
  }
  .fitnessPlanTile {
    display: block;
    width: 100%;
    float: left;
    height: auto;
    border-radius: 0;
    margin: 0 0 -1px 0;
    padding: 10px;
    box-shadow: none;
  }
  .fitnessPlanCheck {
    position: relative;
    margin: 8px 15px 5px 0;
  }
  .fitnessPlanCheck,
  .fitnessPlanWorkout,
  .fitnessPlanDay,
  .fitnessPlanTitleContainer {
    float: left;
    display: inline-block;
  }
  .fitnessPlanWorkout {
    padding: 0;
    width: calc(100% - 45px);
  }
  .fitnessPlanDay {
    width: 50px;
    margin: 0;
    line-height: 50px;
  }
  .fitnessPlanTitleContainer {
    width: calc(100% - 50px);
  }
  .fitnessNextWeek {
    text-align: right;
    float: right;
  }
  .over {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px dashed #000;
  }
  .fitnessLegend {
    width: 100%;
    padding: 0;
    font-size: 12px;
  }
  .fitnessCalendar {
    float: none;
    width: 100%;
    margin: 10px 0;
  }
  .fitnessCalendar button {
    width: 100%;
  }
  .exerciseHistory {
    font-size: 14px;
  }
  .historyDate {
    padding: 12px 0 !important;
    width: 20%;
  }
  .historyTitle {
    padding: 12px 0 !important;
    width: 65%;
  }
  .historyType {
    display: none;
  }
  .historyWorkoutCheck .fitnessPlanCheck {
    margin: 0;
  }
  .fitnessLegend .col-xs-2,
  .fitnessLegendContainer .col-md-6,
  .fitnessLegendContainer .col-md-offset-6,
  .fitnessLegendContainer .col-sm-12 {
    width: 100%;
    margin: 10px 0;
  }
  .fitnessLegend .borderResistance,
  .fitnessLegend .borderCardio,
  .fitnessLegend .borderRecovery,
  .fitnessLegend .borderRest {
    margin: 10px 0 20px;
  }
  .fitnessPlanWorkoutButtons {
    margin: 0;
    text-align: left;
  }
  .fitnessPlanWorkoutButtons a {
    width: 100%;
    margin: 0 0 15px;
  }
}
/* Workout Page */
.videoContainer {
  background: #C1C1C1;
}
iframe {
  z-index: 9999;
}
.videoContainer iframe,
.videoContainer object,
.videoContainer embed {
  margin: 0 auto;
  width: 100%;
  height: 500px;
  max-width: 900px;
  display: block;
}
.fitnessWeekSessionContainer {
  padding: 10px 0;
  border-top: 1px solid #DDDFE0;
  border-bottom: 1px solid #DDDFE0;
}
.fitnessDescription {
  padding: 10px 0;
}
.fitnessTitle {
  margin: 0 0 15px;
}
.btn-right-spacer {
  margin-right: 12px;
}
.fitnessButtonsRight {
  float: right;
}
.fitnessCompleteText {
  display: inline-block;
  margin-left: 10px;
}
.fitnessCompleteContainer {
  display: inline-block;
  float: left;
  margin-left: 20px;
}
.fitnessSession {
  float: left;
  display: inline-block;
}
.mobileWorkoutTitle {
  display: block;
}
.tabsMargin {
  margin-bottom: 15px;
}
.fitnessPlanTileChange {
  display: inline-block;
  margin: 0 15px 12px 0;
  width: 150px;
  height: 155px;
  float: left;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #DDDFE0;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
}
@media (max-width: 768px) {
  .fitnessButtonsRight {
    float: none;
  }
  .fitnessWorkoutButtons {
    width: 100%;
    margin-bottom: 15px;
  }
  .fitnessCompleteContainer {
    display: block;
    margin: 0;
    width: 100%;
  }
  .fitnessPlanCheckWorkout {
    float: none;
    margin: 0;
  }
  .btn-right-spacer {
    margin-right: 0;
  }
  .fitnessPlanTileChange {
    width: 45%;
    margin: 0 5% 12px 0;
  }
  .videoContainer iframe,
  .videoContainer object,
  .videoContainer embed {
    height: 300px;
  }
}
/* My Profile */
.profileWrapper {
  border-bottom: none;
}
.profileHeaderContent {
  padding: 20px 15px 0;
}
.profileHeaderContent .avatar {
  height: 88px;
  width: 88px;
  margin-right: 20px;
}
.userInfo {
  margin-bottom: 10px;
}
.userInfo h2 {
  margin-top: 0;
  margin-bottom: 3px;
}
.userInfo p {
  margin-bottom: 3px;
}
.userInfo .scores span {
  margin-right: 20px;
}
.userInfo .scores img {
  width: 16px;
  margin: -3px 5px 0 0;
}
/* Mobile Profile Menu */
.panel.mobileProfileMenu li {
  font-size: 16px;
  padding: 15px;
  outline: none;
}
.panel.mobileProfileMenu li i {
  margin-top: 5px;
  font-size: 14px;
}
/* Personal Info */
.personalInfo p {
  margin-bottom: 4px;
}
.personalInfo p.personalInfoLabel {
  font-size: 12px;
  margin-bottom: 0;
  font-family: FFMarkWebProMedium !important;
  font-weight: normal;
  color: #858585;
}
.personalInfoGender {
  margin: 5px 0 20px 0;
}
.profileNutritionGender {
  margin: 0;
}
.profileNutritionGender md-radio-button {
  display: inline-block;
}
.profileNutritionGender .personalInfoGender {
  margin: 5px 0 5px 0;
}
.personalInfo p.personalInfoLabel.fakeLabel {
  margin-bottom: -23px;
}
.personalInfo .list-group-item md-input-container {
  margin: 22px 0 0 0;
}
.personalInfo .list-group-item md-input-container.mobileMargin {
  margin-bottom: 22px;
}
/* Nutrition Preferences */
section.row {
  margin-top: 50px;
  margin-bottom: 50px;
}
.exerciseRow,
.nutritionRow {
  margin: 0 -15px 10px;
}
.exerciseRowLast,
.nutritionRowLast {
  margin: 0 -15px 50px;
}
.dietPlan .material-icons {
  font-size: 20px;
  float: left;
  margin-right: 10px;
  color: #858585;
}
.dietPlan .material-icons.selected {
  color: #7bc143;
}
.dietPlan p,
.dietPlan .panel-title {
  font-size: 14px;
  line-height: 20px;
  margin: 5px 0;
}
.dietPlan a:hover,
.dietPlan a {
  text-decoration: none;
}
.dietPlan .panel-title a > span,
.dietPlan .panel-title a:hover > span {
  display: flex;
  color: #333333;
}
.dietPlan .icon-arrow-down,
.dietPlan .icon-arrow-up {
  margin: 5px 0 0 auto;
  color: #858585;
}
.dietPlan.panel-default > .panel-heading {
  background: #ffffff;
  border: #DDDFE0;
}
.panel-group .dietPlan .panel-heading + .panel-collapse > .panel-body {
  padding: 0;
  border: 0;
}
.dietPlan .list-group {
  margin: 0;
}
.dietPlan .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
  display: flex;
}
.dietPlan .list-group-item:last-child {
  border-bottom: 0;
}
.dietPlan .list-group-item:hover {
  background: #F7F7F7;
}
.tileWrapper {
  position: relative;
  float: left;
}
.panel.image-bg {
  background-size: cover;
  margin: 0 12px 12px 0;
  float: left;
  height: 150px;
  width: 160px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: none;
}
.image-tile {
  height: 150px;
  width: 160px;
  border-radius: 4px;
  color: #ffffff;
  font-family: FFMarkWebProBold !important;
  font-weight: normal;
  font-size: 14px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
}
.image-tile.overlay {
  position: absolute;
}
.image-tile i {
  font-size: 24px;
}
.selectall-tile {
  background-color: #333333;
}
.selectall-tile.selected {
  background-color: #8bc53f;
}
.image-tile.unselected {
  background-color: rgba(51, 51, 51, 0.8);
}
/* Fitness Preferences */
.image-card.fitness-goal .unselected {
  background: none;
}
.image-card.fitness-goal .unselectedIcon {
  border-color: #C1C1C1;
}
.btn-exercise {
  display: flex;
  border: 1px solid #858585;
  margin: 0 0 10px 0;
  color: #858585;
  padding: 9px 16px 10px;
  background: #ffffff;
}
.btn-exercise:hover,
.btn-exercise:focus,
.btn-exercise:visited {
  color: #858585;
}
.btn-exercise.selected {
  background: #8bc53f;
  border-color: #8bc53f;
  color: white;
}
.btn-exercise .selectedIcon {
  box-shadow: none;
  margin: 1px 8px 0 0;
}
.btn-exercise .unselectedIcon {
  border-color: #858585;
  margin: 1px 8px 0 0;
}
/* Account Settings */
.acctSettings .list-group-item {
  display: flex;
}
.acctSettings.lessMargin {
  margin-bottom: 15px;
}
.settingsContent p {
  margin-bottom: 0;
}
.settingsContent p.small {
  font-size: 14px;
  line-height: 22px;
}
.settingsContent p.gray {
  color: #858585;
}
.settingsContent .settingsLabel {
  font-size: 12px;
  margin-bottom: 0;
  font-family: FFMarkWebProMedium !important;
  font-weight: normal;
  color: #858585;
}
.settingsContent a {
  cursor: pointer;
}
.settingsContent.right {
  margin-left: auto;
}
.acctSettings md-switch {
  margin: 0 0 0 auto;
}
.settingsContent i {
  color: #858585;
  display: block;
  margin-top: 5px;
}
p.addEmail {
  margin-bottom: 30px;
}
.settingsContent.ellipsis {
  display: flex;
  min-width: 0;
}
.settingsContent.ellipsis p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 8px;
}
/* Wellness Trackers */
.tracker {
  font-size: 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: none;
}
.tracker .panel-body {
  display: flex;
}
.tracker .image {
  border-right: 1px solid #DDDFE0;
  margin: 0 15px 0 0;
  padding: 0 15px 0 0;
  flex: 0 0 41%;
  display: flex;
  align-items: center;
}
.tracker .image img {
  max-height: 100%;
  margin-right: auto;
  margin-left: auto;
}
.trackerContent {
  flex: 1;
}
.tracker .title {
  font-family: FFMarkWebProBold !important;
  font-weight: normal;
  line-height: 23px;
  margin-bottom: 12px;
}
.tracker .selectedIcon {
  box-shadow: none;
}
.tracker .btn {
  width: 110px;
}
.tracker .subtext {
  margin-top: 20px;
  font-size: 12px;
  color: #858585;
  line-height: 16px;
}
/* Inbox */
.inboxWrapper.panel,
.inboxWrapper .message {
  border-radius: 0;
  font-size: 16px;
}
.messageList .list-group {
  margin-bottom: 0;
}
.messageList .list-group-item {
  border-width: 0 0 1px 0;
  margin-bottom: 0;
  outline: none;
  padding: 15px;
}
.inboxWrapper .message:hover {
  background-color: #F7F7F7;
}
.messageList .message.selected {
  background: inherit;
  color: inherit;
}
.messageList .message.selected .time,
.messageList .message.selected .navigate {
  color: #858585;
}
.message.selected,
.message.selected:hover {
  background: #7bc143;
  color: #ffffff;
}
.message.selected .time,
.message.selected:hover .time,
.message.selected .navigate,
.message.selected:hover .navigate {
  color: #ffffff;
}
.message .messageRead {
  font-size: 10px;
  color: #7bc143;
  padding: 6px 0 30px 0;
  height: 12px;
  width: 18px;
}
.message .from {
  font-family: FFMarkWebProBold !important;
  font-weight: normal;
}
.message .from,
.message .subject {
  display: flex;
}
.message .from span,
.message .subject span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.message .from span {
  margin-right: 8px;
}
.integratedMessageViewer {
  flex: 1;
}
.messageViewer {
  margin-right: 0px;
  padding: 15px 0;
}
.messageViewer .header,
.standaloneMessageViewer .header {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DDDFE0;
}
.header .from,
.header .subject {
  margin: 0;
}
.header .from {
  font-family: FFMarkWebProBold !important;
  font-weight: normal;
}
.inboxWrapper .time,
.messageViewer .time {
  margin: 2px 5px 0 0;
  font-size: 14px;
  color: #858585;
}
.message .navigate {
  font-size: 14px;
  margin-top: 3px;
  color: #858585;
}
.standaloneViewer {
  margin: 15px 0;
}
.standaloneViewer .messageViewer {
  padding: 0;
}
.notificationsList .panel {
  outline: none;
  margin-bottom: 10px;
}
.notificationsList .panel-body {
  display: flex;
}
.notificationsList .messageRead {
  padding-bottom: 0;
  flex: 0 0 18px;
}
.notificationsList .time {
  order: 2;
  margin: 2px 0 0 auto;
  white-space: nowrap;
}
.notificationsList .time span {
  margin-left: 8px;
}
.noNotifications {
  font-size: 18px;
  color: #858585;
  font-family: FFMarkWebProMedium !important;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
}
/* Feed */
.feed-image {
  margin: 15px 0 8px 0;
}
.feed-image img,
.feed p img {
  max-width: 100%;
  height: auto;
}
.feed p img {
  margin-bottom: 15px;
}
.feed h3 {
  margin: 0;
}
.feed .date {
  font-size: 14px;
  color: #858585;
  font-family: ffmarkwebproitalic;
}
.feed .source {
  font-size: 12px;
  text-transform: uppercase;
  color: #858585;
  margin-bottom: 0;
}
.feedflare {
  display: none;
}
/* Scratch Cards */
.scratchDesc {
  margin-bottom: 25px;
}
/* Mall */
.mallFrame {
  width: 100%;
  min-height: 600px;
  height: 100vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.mallFrame iframe {
  width: 100%;
  min-height: 600px;
  height: 100vh;
  border: none;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
/* My Points */
.pointsWrapper {
  background: #006e60;
  padding: 10px 15px 20px;
}
.largeNum {
  font-size: 36px;
  font-family: FFMarkWebProBold !important;
  font-weight: normal;
  color: #ffffff;
}
.largeNumSub {
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
}
.table .ellipsis {
  position: relative;
}
.ellipsis span {
  position: absolute;
  left: 8px;
  right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table .ellipsis:before {
  content: '';
  display: inline-block;
}
.table > thead > tr > th.fitContent {
  width: 1%;
  white-space: nowrap;
}
/* Change Password */
.modal-body.changePassword {
  padding: 30px 30px 0 30px;
}
@media (min-width: 768px) {
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 16px;
  }
  .content-wrapper {
    left: 240px;
    bottom: 0;
  }
  .container-fluid.custom {
    padding: 30px 50px;
  }
  md-input-container.password.md-icon-right {
    padding-right: 0;
  }
  .navbar .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
  .sidenav-participant.desktop {
    display: block;
  }
  .cardWrapper {
    overflow-x: visible;
  }
  .cardWrapperInner {
    width: auto;
  }
  .panel.activity:hover {
    opacity: 0.8;
  }
  .tabbar {
    display: none;
  }
  .profileWrapper {
    background: #ffffff;
    border-bottom: 1px solid #DDDFE0;
  }
  .container-fluid.pageHeaderWrapper {
    left: 240px;
  }
  .pageHeaderContent {
    padding: 15px 50px 0 50px;
    max-width: 1240px;
    margin: 0 auto;
  }
  .profileHeaderContent {
    padding: 20px 50px 0 50px;
    margin: 0 auto;
    max-width: 1240px;
  }
  .container-fluid.custom.profileContent {
    padding-top: 195px;
  }
  .personalInfo .list-group-item md-input-container.mobileMargin {
    margin-bottom: inherit;
  }
  /* Tabs */
  .mdTabs.mobileStretch ul.nav-tabs {
    display: initial;
  }
  .mdTabs.mobileStretch .nav-tabs > li {
    float: left;
    display: block;
  }
  .mdTabs.mobileStretch .uib-tab a,
  .mdTabs.mobileStretch .uib-tab a:hover {
    margin-right: 10px;
    text-align: left;
  }
  /* Inbox */
  .messagesContainer {
    display: flex;
  }
  .messageList {
    flex: 0 0 300px;
    width: 300px;
    margin-right: 30px;
    height: 500px;
    overflow-y: scroll;
    border-right: 1px solid #DDDFE0;
  }
  .messageList .message.selected,
  .messageList .message.selected:hover {
    background: #7bc143;
    color: #ffffff;
  }
  .messageList .message.selected .time,
  .messageList .message.selected:hover .time,
  .messageList .message.selected .navigate,
  .messageList .message.selected:hover .navigate {
    color: #ffffff;
  }
  .messagesContainer .header .subject {
    font-family: FFMarkWebProBold !important;
    font-weight: normal;
  }
  .message .navigate {
    display: none;
  }
  .messageViewer {
    padding-right: 30px;
    height: 500px;
    overflow-y: scroll;
  }
  .messageViewer .from {
    display: none;
  }
  .message.selected .messageRead {
    color: #ffffff;
  }
  /* Panels */
  .panel-body.extraPadding {
    padding: 30px;
  }
  .image-card {
    display: initial;
    padding: 0;
    position: relative;
    float: left;
    margin: 0 10px 10px 0;
    border: none;
    border-radius: 4px;
  }
  .image-card .image {
    background-size: cover;
    background-position: center;
    float: left;
    width: 100%;
    height: 150px;
    border-radius: 4px 4px 0 0;
  }
  .image-card .selected {
    position: absolute;
    padding: 15px;
  }
  .image-card .unselected {
    background: #333333;
    opacity: 0.8;
    width: 100%;
    height: 150px;
    position: absolute;
    border-radius: 4px 4px 0 0;
    padding: 15px;
  }
  .image-card-label {
    float: left;
    margin: 10px 15px 20px;
  }
  .unselectedIcon {
    border-color: #ffffff;
  }
  /* List Groups */
  .list-group-item {
    padding: 10px 30px;
  }
  /* Activity Details */
  .pageHeaderContent.activity {
    padding: 15px 50px 20px 50px;
  }
  .activityInfoWrapper {
    margin-top: 30px;
  }
  .activityInfoWrapper .typeColor {
    display: block;
    height: 64px;
    width: 64px;
    flex: 0 0 64px;
    border-radius: 4px;
    margin-right: 20px;
  }
  .activityInfo .eyebrow {
    font-size: 14px;
    line-height: 14px;
    color: #006e60;
    margin-bottom: 0;
  }
  .activityInfo .name {
    margin-right: 20px;
  }
  .activityInfo .name,
  .activityInfo .pointsDateWrapper {
    float: left;
  }
  .activityInfo .endDate {
    vertical-align: bottom;
    height: 45px;
    display: table-cell;
    font-style: italic;
    color: #afaeae;
  }
  .activityInfo h1 {
    color: #006e60;
    font-size: 36px;
    line-height: 46px;
  }
  .activityInfo .points {
    font-size: 24px;
    color: #006e60;
    line-height: 30px;
    margin-top: 14px;
  }
  .activityInfo .points img.white {
    display: none;
  }
  .activityInfo .points img.navy {
    display: initial;
    width: 18px;
    margin-top: -4px;
  }
  /* Fitness */
  .panel.understandFitness h3 {
    margin-top: 0;
  }
  /* Fitness Preferences */
  .fitnessCardsWrapper {
    display: flex;
    flex-flow: wrap;
  }
  .fitnessCardsWrapper .image-card {
    flex: 0 0 190px;
  }
  .btn-exercise {
    width: 100px;
    float: left;
    margin: 0 10px 10px 0;
    justify-content: center;
  }
  /* Wellness Trackers */
  .tracker {
    float: left;
    width: 200px;
    margin-right: 20px;
    min-height: 255px;
  }
  .tracker .panel-body {
    display: block;
  }
  .tracker .image {
    border-bottom: 1px solid #DDDFE0;
    border-right: none;
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
    height: 90px;
  }
  /* My Points */
  .pointsWrapper {
    padding: 15px 30px 25px;
  }
}
/* ==================================================================================
 Admin Styles
================================================================================== */
hr.extraMargin {
  margin: 20px 0;
}
label {
  font-family: FFMarkWebProMedium !important;
  font-weight: normal;
  color: #858585;
}
.radio label,
.checkbox label {
  font-family: FFMarkWebProRegular !important;
  font-weight: normal;
  color: #333333;
}
.adminLayout .navbar-default {
  background-color: #ffffff;
}
.admin .btn {
  padding: 4px 16px 8px;
  font-size: 14px;
}
.admin .btn-sm {
  padding: 2px 16px 6px;
}
h1.adminPanel {
  margin: 0 0 20px 0;
}
h1.adminPanel.noMargin {
  margin: 0;
}
p.marginTop {
  margin-top: 15px;
}
.content-wrapper.admin h3 {
  color: #333333;
}
.breadcrumb.admin {
  background: none;
  padding: 0;
  margin-bottom: 12px;
}
.breadcrumb.admin > li + li:before {
  color: #C1C1C1;
}
.subheaderRow {
  background: #F6F8F9;
  font-size: 14px;
  text-transform: uppercase;
  border-width: 1px 0 1px 0;
}
.table > tbody > tr.subheaderRow > td {
  padding: 6px 8px;
}
.itemRow:hover {
  background: #F7F7F7;
}
.btn.order {
  margin-top: 30px;
}
.btnSubhead {
  padding: 10px 0;
  border-bottom: 1px solid #DDDFE0;
}
.stats {
  background: #E5F6F7;
  padding: 20px;
  margin: 25px 0;
}
.stats h3,
.stats p {
  float: left;
  margin-right: 25px;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 24px;
}
.admin .stats h3 {
  color: #7bc143;
  font-size: 20px;
  text-transform: uppercase;
}
.stats span {
  font-family: FFMarkWebProBold !important;
  font-weight: normal;
  font-size: 20px;
}
.admin .list-group-item:hover {
  background: #F7F7F7;
}
.list-group-item.toggle {
  display: flex;
}
.settingLabel {
  flex-grow: 1;
  margin-left: 30px;
  line-height: 62px;
}
/* Statuses */
.statusBox {
  text-transform: uppercase;
  padding: 3px 6px 5px 6px;
  font-size: 12px;
  font-family: FFMarkWebProMedium !important;
  font-weight: normal;
}
.statusBox.progDetails {
  padding: 6px 12px;
  font-size: 14px;
  display: block;
  float: left;
}
.statusBox.active {
  color: #7bc143;
  background: #E5F6F7;
}
.statusBox.inactive {
  background-color: #EAEAEA;
  color: #858585;
}
.statusBox.redeemOnly {
  background-color: #FFEF10;
  color: #333333;
}
.statusBox.terminated {
  background-color: #858585;
  color: #ffffff;
}
/* Admin Search */
.row.primaryActions {
  margin-bottom: 25px;
}
.adminSearch input {
  background: #F4F5F5;
  border: none;
  font-size: 14px;
}
.adminSearch input:focus {
  box-shadow: none;
  outline: none;
  color: #333333;
}
.adminSearch .input-group-addon {
  background: #F4F5F5;
  color: #858585;
  border: none;
  padding-right: 0;
}
.adminSearch .input-group-addon:last-child {
  padding-right: 12px;
  font-size: 18px;
  color: #7bc143;
}
.adminSearch .input-group-addon:last-child:hover {
  color: #00aa9d;
}
/* Icons */
.table > tbody > tr > td.iconPaddingFix {
  padding: 8px;
  white-space: nowrap;
}
tr td.iconPaddingFix i {
  display: none;
}
tr:hover td.iconPaddingFix i {
  display: inline-block;
}
td.iconPaddingFix i {
  font-size: 18px;
  color: #7bc143;
  padding: 6px;
  border-radius: 100%;
}
td.iconPaddingFix i.icon-trash {
  color: #DB6D48;
}
td.iconPaddingFix i:hover {
  color: #ffffff;
  background: #7bc143;
}
td.iconPaddingFix i.icon-trash:hover {
  background: #DB6D48;
}
tr td.iconPaddingFix i.nonBtn,
td.iconPaddingFix i.nonBtn:hover {
  color: #333333;
  display: inline-block;
  background: none;
}
/* Tables */
.table-hover > tbody > tr:hover {
  background: #F7F7F7;
}
/* Program List */
.list-group-item.program {
  padding-bottom: 15px;
}
.list-group-item.program h3 {
  margin-top: 5px;
}
.list-group-item.program p {
  margin-bottom: 5px;
}
.pager {
  text-align: left;
}
.pager li > a {
  padding: 0;
  border: none;
  font-size: 16px;
  margin: 15px 0;
}
.pager li .icon-arrow-left {
  float: left;
  font-size: 14px;
  margin: 4px 8px 0 0;
}
.pager li .icon-arrow-right {
  float: right;
  font-size: 14px;
  margin: 4px 0 0 8px;
}
.pager li > a:hover,
.pager li > a:focus,
.pager li > a:visited {
  background: none;
}
.pager li:last-child {
  margin-left: 30px;
}
/* Formlets */
.formlet-order {
  padding-bottom: 0;
}
.formletDelete {
  border: 1px solid #DB6D48;
  color: #DB6D48;
  border-radius: 100%;
  width: 38px;
  height: 38px;
  padding: 7px 9px;
  font-size: 18px;
  margin-top: 12px;
  float: right;
}
.formletDelete:hover {
  background: #DB6D48;
  color: white;
}
/* Forms */
.admin md-checkbox {
  margin: 5px 0;
}
.form-control {
  border: solid 1px #ccc;
}
label.notBold {
  font-weight: normal;
}
.selectHeaderSelect .header-searchbox {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0;
}
.selectHeaderSelect .select-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  padding-left: 10.667px;
  height: 48px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
}
.selectHeaderSelect md-content._md {
  max-height: 240px;
}
.secondarySelfReportQuestion {
  margin: 7px auto;
}
.uib-day button {
  margin-left: 0 !important;
}
.warningStyle {
  color: #DB6D48;
  font-family: FFMarkWebProMedium !important;
  font-weight: normal;
  padding: 5px 10px;
}
.fitnessPanelBGContainer {
  background-size: cover;
  margin: 0 12px 12px 0;
  float: left;
  width: 190px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: none;
  background: #fff;
  position: relative;
  border-radius: 4px;
}
.fitnessGoalHeight {
  height: 305px;
}
.fitnessActiveHeight {
  height: 242px;
}
.fitnessEquipmentHeight {
  height: 225px;
}
.fitnessSelected,
.fitnessUnselected {
  position: absolute;
  padding: 15px;
  top: 0;
}
.fitnessGoalIcon {
  border: 1px solid #C1C1C1;
}
.fitnessUnselectedDay,
.fitnessSelectedDay {
  float: left;
}
.fitnessGoalDays {
  font-style: italic;
  margin-top: 20px;
}
.fitnessDay {
  text-align: left;
}
.fitnessPanelBG {
  width: 100%;
  height: 150px;
  position: relative;
  background-size: cover;
  border-radius: 4px 4px 0 0;
}
.fitnessBGOverlay {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 15px;
  height: 150px;
  background: rgba(51, 51, 51, 0.8);
  border-radius: 4px 4px 0 0;
}
.fitnessSelected {
  padding: 15px;
  position: absolute;
  top: 0;
}
.form-control {
  min-width: 100px;
}
@media (max-width: 768px) {
  .fitnessPanelBGContainer {
    width: 100%;
    height: auto;
    border: 1px solid #DDDFE0;
    margin: 0 0 -1px 0;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 0;
  }
  .fitnessBGOverlay {
    background: none;
    width: auto;
    height: auto;
  }
  .fitnessUnselected,
  .fitnessSelected {
    position: relative;
    display: inline-block;
    float: left;
    padding: 0;
  }
  .fitnessDescription {
    position: relative;
    width: calc(100% - 45px);
    display: inline-block;
    padding: 0;
  }
  .fitnessGoalDays {
    position: relative;
    width: calc(100% - 35px);
    margin: 10px 0 0 35px;
  }
  .fitnessDaysContainer {
    width: 100%;
  }
  .btn-exercise {
    border-radius: 0;
    margin: 0 0 -1px 0;
  }
  .understandFitness .btn-primary {
    width: 100%;
    margin-bottom: 40px;
  }
}
@media (max-width: 1240px) {
  .navHideText {
    display: none;
  }
  .navReducePaddingMargin,
  .navReducePaddingMargin:hover {
    margin-right: 0 !important;
    padding: 10px !important;
  }
}
.fitinStandardContainer {
  margin: 10px 5px;
  padding: 20px;
  border: 1px solid #ccc;
}
.fitinStandardTarget {
  font-size: 28px;
  text-align: center;
}
.fitinStandardMetric {
  text-align: center;
}
.fitinVideoImg {
  width: 100%;
}
.ageBirthdateDesiredWeight .md-input {
  min-width: 175px;
}
.modalBodyContainer {
  background: #fff;
  margin: 15px;
}
.changeWorkoutTab {
  width: 25%;
  text-align: center;
  cursor: pointer;
}
.col-md-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.fitinHelpText {
  font-size: 12px;
  font-family: FFMarkWebProMedium !important;
  line-height: 14px;
  padding-top: 5px;
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
.programGuidePDF {
  width: 100%;
  height: 60vh;
  display: block;
  overflow-y: scroll;
  margin: 0 0 20px;
}
@media (max-width: 768px) {
  .pointsTable {
    font-size: 14px;
  }
  .pointsTable tbody > tr > td,
  .table > thead > tr > th {
    padding: 10px 5px 10px 0;
  }
}
.tabbar .nav > li.noSocialFeed {
  width: 33%;
}
.trackerConnected {
  margin-bottom: 17px;
}
.changeWorkoutBGOverlay {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 15px;
  height: 90px;
  background: rgba(51, 51, 51, 0.8);
  border-radius: 4px 4px 0 0;
}
.changeWorkoutBGOverlaySelected {
  background: none;
}
.activityVideo {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.activityVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Nutrition  */
.weekCol {
  width: 14.28571429%;
  text-align: center;
}
.mdTabs .uib-tab a,
.mdTabs .uib-tab a:hover .nutritionTabs {
  width: 100%;
  margin-right: 0;
  margin: 25px 0 0 0;
}
.nutritionTotalsContainer {
  text-align: center;
}
.nutritionTotalsSection {
  display: table;
  width: 100%;
}
.nutritionTotalsData {
  font-size: 28px;
  height: 50px;
  line-height: 50px;
}
.nutritionHeader {
  height: 30px;
  line-height: 30px;
  padding: 0;
}
.carbsBG {
  background: #7bc143;
  color: #fff;
}
.fatBG {
  background: #DD6D42;
  color: #fff;
}
.proteinBG {
  background: #cadd09;
  color: #fff;
}
.recipeContainer {
  min-height: 250px;
}
.recipeColumn {
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  min-height: 1px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.recipeImage {
  width: 30%;
  height: 250px;
  padding: 5px 10px;
}
.recipeYummlyContainer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
}
.recipeYummlyContainer img {
  max-width: 100%;
  box-sizing: border-box;
  display: block;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.recipeData {
  padding: 5px 10px;
  min-height: 250px;
  width: 43%;
}
.recipeIngredientsList {
  font-size: 13px;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.recipeInfo {
  width: 27%;
  min-height: 250px;
  position: relative;
}
.recipeInfoHeader {
  width: 100%;
  background: #989899;
  color: #fff;
  line-height: 30px;
  height: 30px;
  text-align: center;
}
.recipeInfoFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
}
.recipeInfoFooter div {
  line-height: 30px;
}
.recipeDetails {
  text-align: center;
  margin: 10px 0;
  display: inline-block;
  width: 100%;
}
.recipeDataFooter {
  text-align: center;
  margin-top: 15px;
}
.recipeTitle {
  font-family: FFMarkWebProBold !important;
  font-weight: normal;
  color: #006e60;
  font-size: 18px;
}
.replaceMeal {
  font-size: 10px;
}
.recipeDetailsHeader {
  font-size: 18px;
}
.recipeFork,
.recipeKnife {
  width: 20%;
  height: 125px;
  padding-top: 30px;
}
.recipeFork {
  text-align: right;
  float: left;
}
.recipeKnife {
  float: right;
}
.recipeFork img,
.recipeKnife img {
  max-width: 25%;
}
.recipePieChart {
  width: 80%;
  position: absolute;
  top: 45px;
  left: 10%;
  right: 10%;
}
.nutritionInfo {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
.recipeSourceContainer {
  display: table;
  height: 44px;
  padding: 0;
}
.recipeSource {
  display: table-cell;
  vertical-align: middle;
}
#nutritionLabel .servingUnit,
#nutritionLabel .ingredientListDiv {
  display: none;
}
#nutritionLabel .fr {
  padding-top: 2px;
}
#nutritionLabel {
  width: 280px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .recipeColumn {
    width: 100%;
  }
  .recipeButton {
    padding: 0;
    margin: 10px 0 20px;
  }
  .recipeButton a {
    width: 100%;
  }
  .recipeSourceContainer {
    width: 100%;
  }
  .recipeDataFooter {
    margin-top: 0;
  }
  .recipeInfo {
    min-height: 275px;
    margin-bottom: 30px;
  }
}
.mobileTrackers {
  background: #DB6D48;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}
.notFound {
  background-image: url('../img/404.png');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.notFound .nfCenterUp {
  width: 80%;
  height: 50%;
  top: 15%;
  margin: 0  auto;
  position: relative;
}
.notFound .nfCenterUp .link a {
  font-weight: bold;
  font-size: 24px;
  color: black;
  margin-left: 50%;
}
